#work {

.hero-cont {
	width: 100%;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    min-height: 60vh;
    margin: 80px 0 0 0;
}

section.work {
	width: 100%;
	margin: 100px 0 0 0;
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vw;

	.work-item {
		width: calc(50% - 10px);
		min-height: 450px;
		margin: 0 20px 20px 0;
		background: #F2F7FF;
		padding: 40px;
		display: flex;
		box-sizing: border-box;
		animation: fadeUp .3s linear;
		position: relative;
		transition: all ease-in-out .1s;

		&.facebook { background: #F5F7FB; a { color: #4267B2; } }
		&.mailbox { background: #F2F7FF; a { color: #5890FF; } }
		&.twocards { background: #F5FBF9; a { color: #0ECB6E; } }
		&.switch { background: #F2F7FF; a { color: #6336FF; } }

		&.large {
			min-height: 915px;

			img {
				max-width: 340px;
				position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
			}
		}

		&:nth-child(2n+2) {
			margin: 0 0 20px 0;
		}

		&:hover {
			a {
				padding: 0 0 10px 0;
			}
		}

		h4 {
			margin: 0;
			font-size: 16px;
			font-weight: 500;
			width: 50%;
			display: inline-block;
		}

		a {
			margin: 0;
			width: 50%;
			text-align: right;
		}
	}
}

footer {
	width: calc(100% - 160px);
	margin: 0 auto;
	min-height: 100px;
	padding: 100px 0 80px 0;

	img {
		width: 40px;
	}

	ul {
		margin: 40px 0 0 0;
		color: #7a7a7a;
	}
}

@keyframes fadeUp {
	0% {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0px, 0);
		opacity: 1;
	}
}

}