#work {

.iphone-video {
	position: absolute;
	width: 80%;
	max-width: 360px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	img {
		max-width: 100%;
	}

	video {
		position: absolute;
    	width: 80.5%;
    	left: 9.8%;
    	top: 14.1%;
	}
}

section.work {
	width: 1060px;
	margin: 70px auto 0 auto;

	@media screen and (max-width: $break-small) {
   		width: calc(100% - 40px);
   		margin-bottom: 60px;
	}

	img {
		width: 100%;
	}

	.row {
		width: 100%;
		margin-bottom: 80px;

			@media screen and (max-width: $break-small) {
				   		margin-bottom: 0;
					}

			a {
				color: inherit;
			}

			p {
				margin-top: 20px;
				margin-bottom: -10px;

				@media screen and (max-width: $break-small) {
				   		font-size: 16px;
				   		margin-top: 10px;
					}
			}

			.left {
				width: 48%;

					@media screen and (max-width: $break-small) {
				   		width: 100%;
					}
			}
			.right {
				width: 48%;
				margin-left: 3%;

				@media screen and (max-width: $break-small) {
				   		width: 100%;
				   		margin-left: 0;
					}
			}

			@media screen and (max-width: $break-small) {
				   	
				   	img {
				   		margin-top: 40px;
				   	}
			}
	}

	.row div {
		display: inline-block;
	}

}

@keyframes fadeUp {
	0% {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0px, 0);
		opacity: 1;
	}
}

}