#work {

.hero-cont {
	width: 100%;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    min-height: 60vh;
    margin: 80px 0 0 0;
}

.iphone-video {
	position: absolute;
	width: 80%;
	max-width: 360px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	img {
		max-width: 100%;
	}

	video {
		position: absolute;
    	width: 80.5%;
    	left: 9.8%;
    	top: 14.1%;
	}
}

section.work {
	width: calc(100% - 140px);
	margin: 0 auto;

	@media screen and (max-width: $break-small) {
   		width: calc(100% - 80px);
	}

	.work-wrapper {
		display: flex;
    	flex-wrap: wrap;
    	max-height: 1405px;
    	flex-direction: column;

    	@media screen and (max-width: $break-small) {
	   		flex-wrap: nowrap;
	  	}

		.work-item {
			width: calc(100% * (1/2) - 10px;
			min-height: 450px;
			position: relative;
			display: flex;
    		margin: 0 20px 20px 0;
    		box-sizing: border-box;
    		flex-grow: 1;
    		overflow: hidden;

			@media screen and (max-width: $break-small) {
	    		width: 100%;
	  		}

			&.spareroom { background: #F5F7FB; a { color: #4267B2; } }
			&.mailbox { background: #F2F7FF; a { color: #5890FF; } }
			&.twocards { background: #F5FBF9; a { color: #0ECB6E; } }
			&.switch { background: #F2F7FF; a { color: #6336FF; } }

			&.large {
				min-height: 915px;
			}

			&:nth-child(2n+2) {
				margin: 0 0 20px 0;
			}

			h4 {
				margin: 40px 0 0 40px;
				font-weight: 500;
				width: 50%;
				display: inline-block;
			}

			a {
				margin: 0;
				width: 50%;
				text-align: right;
				margin: 40px 40px 0 0;
			}

			img.macbook {
				max-height: 500px;
				position: absolute;
				top: 110px;
				right: 0%;

				&.twocards {
					left: 0%
				}
			}
		}
	}
}

footer {
	width: calc(100% - 160px);
	margin: 0 auto;
	min-height: 100px;
	padding: 100px 0 80px 0;

	img {
		width: 40px;
	}

	ul {
		margin: 40px 0 0 0;
		color: #7a7a7a;
	}
}

@keyframes fadeUp {
	0% {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0px, 0);
		opacity: 1;
	}
}

}