@import "_vars";
@import "_reset";

html, body {
	background: #fff;
	font-family: $font;
	font-size: $base-font-size;
	color: #22222a;
	line-height: $line-height;
	margin: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0;
	box-sizing: border-box;
}

header {
	max-width: 1060px;
	margin: 60px auto 0 auto;

	img {
		width: 36px;
	}

	nav {
		float: right;

		a {
			color: #77777A;
			text-decoration: none;
			margin: 0 0 0 50px;
		}
	}
}

footer {
	max-width: 1060px;
	margin: 0 auto 100px auto;
	color: #77777A;
	border-top: 1px solid #E8E8E8;
	padding: 50px 0 0 0;

	span {
		width: 50%;
		display: block;
	}

	div.left-2-col {
		span {
			margin: 50px 0 0 0;
		}
	}
}

@import "_index";
@import "_work";
@import "_case"