div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("../fonts/AtlasGrotesk-Regular-Web.eot");
  src: url("../fonts/AtlasGrotesk-Regular-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article {
  margin: 0 0 75px 0;
  max-width: 100%; }

p {
  margin: 0 0 20px 0; }

.whitespace {
  flex: 1; }

.underline {
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: ease-in-out .1s all;
  transform: translateY(30%) rotate(180deg); }
  .underline:hover {
    bottom: 8px; }
  .underline--path {
    fill: transparent;
    stroke: #999;
    stroke-width: 1px; }

html, body {
  background: #fff;
  font-family: "Atlas Grotesk Web";
  font-size: 18px;
  color: #22222a;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.hero-cont {
  width: 100%;
  box-sizing: border-box;
  padding: 70px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  @media screen and (max-width: 960px) {
    .hero-cont {
      padding: 40px; } }

header img {
  height: 46px; }

section.hero {
  max-width: 500px; }
  section.hero p {
    margin: 0 0 40px 0; }
  section.hero a {
    margin: 0;
    width: 200px;
    display: block;
    text-decoration: none;
    position: relative;
    color: #999;
    transition: ease-in-out .1s all; }
    section.hero a:hover {
      color: #6336FF; }
      section.hero a:hover .underline--path {
        stroke: #6336FF; }

.bg-cont {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 256px;
  height: 100%;
  margin: 0 80px 0 0; }
  .bg-cont .bg {
    width: 100%;
    height: 2010px;
    background: url("../images/bg.png");
    background-size: 256px;
    background-repeat: repeat-y;
    left: 0px;
    position: absolute;
    animation: scroll 40s linear infinite; }
  @media screen and (max-width: 960px) {
    .bg-cont {
      display: none; } }

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, -1005px, 0); } }

#work .hero-cont {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin: 80px 0 0 0; }

#work .iphone-video {
  position: absolute;
  width: 80%;
  max-width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #work .iphone-video img {
    max-width: 100%; }
  #work .iphone-video video {
    position: absolute;
    width: 80.5%;
    left: 9.8%;
    top: 14.1%; }

#work section.work {
  width: calc(100% - 140px);
  margin: 0 auto; }
  @media screen and (max-width: 960px) {
    #work section.work {
      width: calc(100% - 80px); } }
  #work section.work .work-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: 1405px;
    flex-direction: column; }
    @media screen and (max-width: 960px) {
      #work section.work .work-wrapper {
        flex-wrap: nowrap; } }
    #work section.work .work-wrapper .work-item {
      width: calc(100% * (1/2) - 10px);
      min-height: 450px;
      position: relative;
      display: flex;
      margin: 0 20px 20px 0;
      box-sizing: border-box;
      flex-grow: 1;
      overflow: hidden; }
      @media screen and (max-width: 960px) {
        #work section.work .work-wrapper .work-item {
          width: 100%; } }
      #work section.work .work-wrapper .work-item.spareroom {
        background: #F5F7FB; }
        #work section.work .work-wrapper .work-item.spareroom a {
          color: #4267B2; }
      #work section.work .work-wrapper .work-item.mailbox {
        background: #F2F7FF; }
        #work section.work .work-wrapper .work-item.mailbox a {
          color: #5890FF; }
      #work section.work .work-wrapper .work-item.twocards {
        background: #F5FBF9; }
        #work section.work .work-wrapper .work-item.twocards a {
          color: #0ECB6E; }
      #work section.work .work-wrapper .work-item.switch {
        background: #F2F7FF; }
        #work section.work .work-wrapper .work-item.switch a {
          color: #6336FF; }
      #work section.work .work-wrapper .work-item.large {
        min-height: 915px; }
      #work section.work .work-wrapper .work-item:nth-child(2n+2) {
        margin: 0 0 20px 0; }
      #work section.work .work-wrapper .work-item h4 {
        margin: 40px 0 0 40px;
        font-weight: 500;
        width: 50%;
        display: inline-block; }
      #work section.work .work-wrapper .work-item a {
        margin: 0;
        width: 50%;
        text-align: right;
        margin: 40px 40px 0 0; }
      #work section.work .work-wrapper .work-item img.macbook {
        max-height: 500px;
        position: absolute;
        top: 110px;
        right: 0%; }
        #work section.work .work-wrapper .work-item img.macbook.twocards {
          left: 0%; }

#work footer {
  width: calc(100% - 160px);
  margin: 0 auto;
  min-height: 100px;
  padding: 100px 0 80px 0; }
  #work footer img {
    width: 40px; }
  #work footer ul {
    margin: 40px 0 0 0;
    color: #7a7a7a; }

@keyframes fadeUp {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }
